@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lalezar", sans-serif;
}

body {
  background-color: #197364;
  /* margin: 30px; */
}

/* Diseño de pagina principal*/
.main-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  grid-template-areas: "logo formulario";
  position: relative;
}

/*Diseños del logo*/
.logo-container {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.logo-container__logo {
  width: 35vw;
  height: auto;
}

.logo-container__tittle {
  text-transform: uppercase;
  font-size: 4.3rem;
  color: white;
}

/*Diseños del fomrulario de inicio*/
.main-page__inicio {
  grid-area: formulario;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inicio {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 30vw;
  background-color: #ffff;
  padding: 60px;
  padding-top: 40px;
  height: max-content;
  border-radius: 30px;
  gap: 60px;
}

.form-inicio__tittle {
  color: #197364;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.form-inicio__container-campo {
  position: relative;
}

.form-inicio__campo {
  background-color: #197364;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  padding-top: 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #ffff;
  padding-left: 60px;
}

.form-inicio__campo::placeholder {
  color: #ffff;
  opacity: 0.8;
  font-size: 25px;
}

.form-inicio__container-campo--generos {
  display: flex;
  justify-content: space-between;
  color: #197364;
}

.form-inicio__radio-genero {
  margin-right: 10px;
  margin-left: 10px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #197364;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: #197364;
  position: relative;
}

.form-inicio__radio-genero:checked::before {
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  left: 0;
  top: 0;
  background-color: #197364;
  border: 2px solid #fff;
  border-radius: 50%;
}


.form-inicio__nombre-genero {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.form-inicio__icono-campo {
  position: absolute;
  top: 20%;
  left: 15px;
  color: white;
  font-size: 2vw;
}

.selector-ciudades {
  /* padding-right: 20px; */
  appearance: none;
  /* font-size: 22px; */
  /* opacity: 0.8; */
}

.selector-ciudades__ciudad {
  background-color: #21a58f;
  /* opacity: 0.8; */
  /* padding: 0; */
}

.form-inicio__button {
  border: none;
  background-color: #197364;
  width: 300px;
  padding-top: 5px;
  margin-top: 10px;
  /* padding: 20px; */
  border-radius: 20px;
  font-size: 2.1rem;
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.form-inicio__button:hover {
  transition: ease-in-out 0.3s;
  background-color: #21a58f;
  cursor: pointer;
}

.form-inicio__button--register {
  width: 250px;
}

.form-inicio__redirect {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  justify-content: center;
  color: #197364;
}

.form-inicio__redirect-link {
  color: #21a58f;
}

.form-inicio--register {
  gap: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-inicio__tittle--register {
  margin-bottom: -20px;
}















.inicio {
  background-color: #fff;
  display: grid;
  height: 100vh;
  /* width: 100vw; */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    'sidebar  header'
    'sidebar content';
}

.sidebar {
  grid-area: sidebar;
  background-color: #197364;

}

.header {
  grid-area: header;
  /* background-color: #197364; */
  background-color: #fff;
  box-shadow: 0 0px 10px #343434e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.content {
  grid-area: content;
  background-color: #eeeeeec5;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}





.logo-container--inicio {
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 13px;
  padding-left: 30px;
}


.logo-container__logo--inicio {
  width: 80px;
}

.logo-container__tittle--inicio {
  font-size: 1.2rem;
  margin-top: 5px;
}

.sidebar__separator {
  margin: 0 15px 0 15px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  font-size: 1.4rem;
  margin-top: 20px;
}

.sidebar-items__item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
}

.sidebar-items__item:hover {
  background-color: #26564f;
}

.sidebar-items__icon {
  font-size: 1.5rem;
  margin: 0 24px;
}





.container-tittle {
  height: 100%;
  color: #197364;
  display: flex;
  align-items: center;
}

.container-tittle__tittle {
  font-size: 3rem;
}


.profile {
  display: flex;
  align-items: center;
  color: #197364;
  gap: 10px;
  position: relative;
}

.profile__nombre {
  font-size: 1.4rem;
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile__img-profile {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  min-width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.check-menu {
  display: none;
}


.menu-perfil {
  width: 300px;
  position: absolute;
  top: -500px;
  right: 0;
  height: max-content;
  transition: 0.5s;
  border-radius: 30px;
}

.check-menu:checked+.menu-perfil {
  background-color: #197364;
  top: 150%;
  padding: 20px;
}

.info-perfil {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  position: relative;
}

.perfil__img--info {
  width: 50px;
  height: 50px;
}

.info-perfil__name {
  font-weight: 500;
}

.info-perfil__link-profile {
  text-decoration: none;
  color: #0cdc89;
}

.info-perfil__exit {
  position: absolute;
  color: #fff;
  top: -13px;
  right: -10px;
  text-decoration: none;
}

.menu-perfil__separador {
  background-color: #fff;
  border: none;
  margin: 15px 0;
  height: 2px;
  width: 100%;
}

.more-functions {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 12px 0;
}

.more-functions__container-icon {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21a58f;
  margin-right: 15px;
}

.more-functions__icon {
  font-size: 1.3rem;
  color: #fff;
}

.more-functions__text {
  width: 100%;
}








/* Content */

.container-informacion {
  width: 100%;
  padding: 30px;
}

.informacion {
  width: 100%;
  height: 400px;
  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0 5px 10px #00000076;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.informacion-fecha {
  display: flex;
  color: #197364;
  align-items: center;
}

.informacion-fecha__calendario {
  position: relative;
  height: 100%;
  width: max-content;
  cursor: pointer;
}

.informacion-fecha__icono {
  font-size: 22rem;
}

.informacion-fecha__fecha {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  color: #197364;
  top: 30%;
  left:20%;
}


.informacion-fecha__dia {
  font-size: 9rem;
  margin-bottom: -90px;
}



.informacion-balance {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.8;
  margin: 20px 0;
}

.informacion-balance__movimientos { 
  display: flex;
  /* flex-direction: column; */
  font-size: 1.5rem;
  opacity: 0.7;
  /* margin-left: 10%; */
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.informacion-balance__balance {
  color: #000;
}

.informacion-balance__titulo--balance {
  font-size: 3rem;
  margin-bottom: -30px;
}

.informacion-balance__monto--balance {
  font-size: 9rem;
}

.informacion-balance__ingresos {
  color: #0d850d;
}

.informacion-balance__gastos {
  color: #a32929;
}

.informacion-balance__metas {
  color: #2d429c;
}

.informacion-mensaje {
  /* height: 100%; */
  display: flex;
  align-items: center;
  background-color: #0d850da3;
  width: max-content;
  padding: 15px;
  border-radius: 20px;
}

.informacion-mensaje__mensaje {
  font-size: 1.6rem;
}

.separador {
  margin: 0 30px;
  border: 1px solid #6161617e;
  border-radius: 5px;
}

.container-movimientos {
  width: 100%;
  padding: 30px;
}


.movimiento {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #c2c2c237;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.movimiento__informacion {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movimiento__contenido {
  display: flex;
  flex-direction: column;
}

.movimiento__categoria {
  background-color: #d69f57;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.movimiento__icono {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 1.5rem;
}

.movimiento__tittle {
  font-size: 1.6rem;
}

.movimiento__descripcion {
  opacity: 0.5;
}

.movimiento__monto {
  font-size: 1.6rem;
}

.movimiento:hover {
  background-color: #87878737;
  transition: 0.4s;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px #0000004d
}


.modal {
  margin-top: 50px;
  justify-self: center;
  width: 500px;
  height: 500px;
}

.modal::backdrop {
  background-color: #8282828c;
}