@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Holtwood+One+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ultra&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #197364;
  /* margin: 30px; */
}

/* Diseño de pagina principal*/
.main-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  grid-template-areas: "logo formulario";
  position: relative;
}

/*Diseños del logo*/
.logo-container {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.logo-container__logo {
  width: 35vw;
  height: auto;
}

.logo-container__tittle {
  text-transform: uppercase;
  font-size: 4.3rem;
  color: white;
  font-family: "Lalezar", sans-serif;
}

/*Diseños del fomrulario de inicio*/
.main-page__inicio {
  grid-area: formulario;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inicio {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 30vw;
  background-color: #ffff;
  padding: 60px;
  padding-top: 40px;
  height: max-content;
  border-radius: 30px;
  gap: 60px;
}

.form-inicio__tittle {
  color: #197364;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.form-inicio__container-campo {
  position: relative;
}

.form-inicio__campo {
  background-color: #197364;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  padding-top: 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #ffff;
  padding-left: 60px;
}

.form-inicio__campo::placeholder {
  color: #ffff;
  opacity: 0.8;
  font-size: 25px;
}

.form-inicio__container-campo--generos {
  display: flex;
  justify-content: space-between;
  color: #197364;
}

.form-inicio__radio-genero {
  margin-right: 10px;
  margin-left: 10px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #197364;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: #197364;
  position: relative;
}

.form-inicio__radio-genero:checked::before {
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  left: 0;
  top: 0;
  background-color: #197364;
  border: 2px solid #fff;
  border-radius: 50%;
}


.form-inicio__nombre-genero {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.form-inicio__icono-campo {
  position: absolute;
  top: 20%;
  left: 15px;
  color: white;
  font-size: 2vw;
}

.selector-ciudades {
  /* padding-right: 20px; */
  appearance: none;
  /* font-size: 22px; */
  /* opacity: 0.8; */
}

.selector-ciudades__ciudad {
  background-color: #21a58f;
  /* opacity: 0.8; */
  /* padding: 0; */
}

.form-inicio__button {
  border: none;
  background-color: #197364;
  width: 300px;
  padding-top: 5px;
  margin-top: 10px;
  /* padding: 20px; */
  border-radius: 20px;
  font-size: 2.1rem;
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.form-inicio__button:hover {
  transition: ease-in-out 0.3s;
  background-color: #21a58f;
  cursor: pointer;
}

.form-inicio__button--register {
  width: 250px;
}

.form-inicio__redirect {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  justify-content: center;
  color: #197364;
}

.form-inicio__redirect-link {
  color: #21a58f;
}

.form-inicio--register {
  gap: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-inicio__tittle--register {
  margin-bottom: -20px;
}















.layout {
  /* background-color: #fff; */
  background-color: #eeeeeec5;
  display: grid;
  height: 100vh;
  /* width: 100vw; */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;

  grid-template-areas:
    'header  header'
    'sidebar content';
}

.sidebar {
  grid-area: sidebar;
  padding: 15px;
}

.header {
  grid-area: header;
  background-color: #fff;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.content {
  grid-area: content;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
}

::-webkit-scrollbar {
  display: none;
}





.logo-container--inicio {
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
  justify-content: flex-start;
  /* padding: 13px; */
  /* padding-left: 30px; */
  margin: 0;
  gap: 0;
}


.logo-container__logo--inicio {
  width: 80px;
}

.logo-container__tittle--inicio {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #197364;
  display: block;
  width: 0;
  line-height: 25px;
}


.sidebar-items {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 0;
  font-size: 1.4rem;
  /* margin-top: 20px; */
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  /* padding-right: 2px; */
}

.sidebar-items__item {
  height: 40px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border-radius: 10px; */
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
  width: 100%;
  gap:20px;
  padding-left:35px;
  /* margin-right: 2px; */
  color:rgba(120, 120, 120, 0.79);
}

.sidebar-items__item:hover {
  transition: 0.5s ease-in-out;
  background-color:rgba(25, 115, 100, 0.27);
}

.sidebar-items__item--inicio {
  color: #197364;
  border-right: 4px solid #197364;
}

.sidebar-items__texto {
  font-size: 1rem; /*para portatil*/
  font-weight: 600;
}


.sidebar-items__icon {
  font-size: 1.5rem;
}





.container-tittle {
  height: 100%;
  color: #197364;
  display: flex;
  align-items: center;
}

.container-tittle__tittle {
  font-size: 2.7rem;
  font-weight: bold;
  text-transform: uppercase;
}


.profile {
  display: flex;
  align-items: center;
  color: #197364;
  gap: 10px;
  position: relative;
}

.profile__nombre {
  font-size: 1.4rem;
  font-weight: bold;
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile__img-profile {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  min-width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.check-menu {
  display: none;
}


.menu-perfil {
  width: 300px;
  position: absolute;
  top: -500px;
  right: 0;
  height: max-content;
  transition: 0.5s;
  border-radius: 30px;
}

.check-menu:checked+.menu-perfil {
  background-color: #197364;
  top: 150%;
  padding: 20px;
}

.info-perfil {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  position: relative;
}

.perfil__img--info {
  width: 50px;
  height: 50px;
}

.info-perfil__name {
  font-weight: 500;
}

.info-perfil__link-profile {
  text-decoration: none;
  color: #0cdc89;
}

.info-perfil__exit {
  position: absolute;
  color: #fff;
  top: -13px;
  right: -10px;
  text-decoration: none;
}

.menu-perfil__separador {
  background-color: #fff;
  border: none;
  margin: 15px 0;
  height: 2px;
  width: 100%;
}

.more-functions {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 12px 0;
}

.more-functions__container-icon {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21a58f;
  margin-right: 15px;
}

.more-functions__icon {
  font-size: 1.3rem;
  color: #fff;
}

.more-functions__text {
  width: 100%;
}








/* Content */

.switch-filtro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: #b5b5b541;
  box-shadow: inset 3px 3px 5px rgba(137, 137, 137, 0.3);
  margin-top: 10px;
  border-radius: 30px;
  position: relative;
}

.switch-filtro__name {
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
  width: 100px;
  border-radius: 30px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  font-weight: 500;
}

.switch-filtro__radio {
  display: none;
}

.switch-filtro__slider::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #21a58f;
  transition: 0.1s;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

input[type="radio"]:checked.switch-filtro__radio--ingresos ~ .switch-filtro__slider::after {
  left: 0;
}

input[type="radio"]:checked.switch-filtro__radio--gastos ~ .switch-filtro__slider::after {
  left: 100px;
}

input[type="radio"]:checked.switch-filtro__radio--metas ~ .switch-filtro__slider::after {
  left: 200px;
}

.container-informacion {
  width: 100%;
  padding: 30px;
}

.informacion {
  width: 100%;
  height: 400px;
  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0 5px 10px #00000076;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.informacion-fecha {
  display: flex;
  color: #197364;
  align-items: center;
}

.informacion-fecha__calendario {
  position: relative;
  height: 100%;
  width: max-content;
  cursor: pointer;
}

.informacion-fecha__icono {
  font-size: 22rem;
}

.informacion-fecha__fecha {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  color: #197364;
  top: 30%;
  left:20%;
  margin-top: 20px;
}


.informacion-fecha__dia {
  font-size: 6rem;
  /* margin-bottom: -90px; */
}



.informacion-balance {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.8;
  margin: 20px 0;
  gap: 20px;
}

.informacion-balance__movimientos { 
  display: flex;
  /* flex-direction: column; */
  font-size: 1.5rem;
  opacity: 0.7;
  /* margin-left: 10%; */
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.informacion-balance__balance {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.informacion-balance__titulo--balance {
  font-size: 3rem;
  margin-bottom: -30px;
}

.informacion-balance__monto--balance {
  font-size: 6rem;
}

.informacion-balance__ingresos {
  color: #0d850d;
}

.informacion-balance__gastos {
  color: #a32929;
}

.informacion-balance__metas {
  color: #2d429c;
}

.informacion-mensaje {
  /* height: 100%; */
  display: flex;
  align-items: center;
  background-color: #0d850da3;
  width: max-content;
  padding: 15px;
  border-radius: 20px;
}

.informacion-mensaje__mensaje {
  font-size: 1.6rem;
}

.separador {
  margin: 0 30px;
  border: 1px solid #6161617e;
  border-radius: 5px;
}

.tile-container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.tile:hover {
  background-color: #87878737;
  transition: 0.4s;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px #0000004d;
}

.tile__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tile__icon-box {
  background-color: #d69f57;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.tile__icon {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 1.5rem;
}

.tile__content {
  display: flex;
  flex-direction: column;
}

.tile__title {
  font-size: 1.6rem;
}

.tile__description {
  opacity: 0.5;
}

.tile__monto {
  font-size: 1.6rem;
  color: #0d850d;
  opacity: 0.7;
}


.modal {
  display: none;
  height: max-content;
  background-color: #fff;
  justify-content: center; 
  align-items: center;
  border: none;
  overflow: hidden;
  width: 500px;
}

.modal.mostrar {
  display: flex;
}

/* modal de informacion del movimiento*/
.mi-modal {
  overflow: hidden;
  border-radius: 15px;
}

.padding-none, div.swal2-container div.swal2-popup.padding-none {
  padding: 0;
}

.modal__contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal__container-title {
  height: 70px;
  width: 100%;
  background-color: #21a58f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__titulo {
  color: #fff;
  /* letter-spacing: 4px; */
    font-family: "Montserrat", sans-serif;
}

.modal__salir {
  position: absolute;
  width: max-content;
  height: max-content;
  top: 25%;
  right: 3%;
  cursor: pointer;
}

.modal__salir-icono {
  font-size: 2rem;
  color: #fff;
}

.modal__salir-icono:hover {
  color: #c2c2c2f0;
  transition: 0.3s;
}

.modal::backdrop {
  background-color: #8282828c;
}

.modal__detalles {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__detalles__title {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  align-self: flex-start;
  /* font-weight: bo; */
}

/* Formulario modal */

.info-movimiento {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0;
  gap: 25px;
}

.info-movimiento__container-campos {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
}

.info-movimiento__control {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  align-items: flex-start;
}

.info-movimiento__nombre-campo {
  /* font-size: 1.1rem; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.info-movimiento__campo {
  width: 200px;
  font-size: 15px;
  border-radius: 5px;
  padding: 4px;
  outline: none;
  border: 1px solid #8282828c;
  font-family: "Montserrat", sans-serif;
  cursor: not-allowed;
}

.info-movimiento__campo--select, .info-movimiento__campo--fecha {
  padding-right: 5px;
}

.info-movimiento__campo--texto {
  padding-left: 10px;
}

.info-movimiento__campo--textarea {
  width: 100%;
  padding-left: 10px;
  resize: none;
}

.info-movimiento__botones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.botones__acciones {
  display: flex;
  gap: 20px;
}

.boton {
  border: none;
  height: 30px;
  min-width: 85px;
  /* font-size: 1.1rem; */
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 12px;
  cursor: pointer;
  color: #fff;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.boton--eliminar {
  background-color: rgb(255, 69, 69);
}

.boton--editar {
  background-color: #007bff;
}


/* modal movimientos*/


.mi-modal--movimientos {
  width: 700px;
}

.contenido {
  /* max-height: 600px; */
  overflow: hidden;
  border-bottom: 10px solid #fff;
}

.movimientos {
  overflow-y: scroll;
  width: 100%;
  height: calc(600px - 70px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tile-content--movimiento {
  align-items: flex-start;
}


/* metas */ 
.container-metas {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  gap: 55px;
  overflow: scroll;
}

.meta {
  width: 500px;
  height: 300px;
  min-width: 400px;
  border-radius: 30px;
  /* border: 2px solid #21a58f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(123, 123, 123, 0.353);
}

.meta:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.meta__title {
  width: 100%;
  color: #fff;
  background-color: #21a58f;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: inset 0 0 15px #6e6e6e89;
}

.meta__informacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #5e5e5e;
  font-weight: bold;
}

.meta__row {
  width: 100%;
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  font-size: 1rem;
}

.meta__text {
  font-weight: 500;
  color: #000;
}

.meta__grafico {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #21a58f;
  padding-top: 10px;
}

.meta__valores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}

.meta__progreso {
  -webkit-appearance: none; /* Remueve apariencia por defecto */
  appearance: none; /* Remueve apariencia por defecto */
  width: 90%;
  height: 8px;
  color: #21a58f;
  border: 2px solid;
  border-radius: 5px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: #eeeeeec5;
}

progress::-webkit-progress-value {
  background-color: #21a58f; /* Color del progreso completado */
}

.meta__ahorrado {
  margin-left: 10px;
}

.nuevo {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #21a58f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 10px #6e6e6e89;
  z-index: 1;
}

.nuevo__icono {
  font-size: 4rem;
  color: #fff;
}

/* boton de metas*/
.boton--movimientos {
  background-color: #ffab45;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.boton__texto-adicional {
  background-color: #fff;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  color: #ffab45;
}

/* historial*/

.historial {
  width: 100%;
  /* height: 100%; */
  display:flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.movimientos--historial {
  /* height: 100%; */
  padding: 0;  
}

.fecha {

}

.fecha__texto {
  color:rgb(120, 120, 120);
  font-weight: bold;
  font-size: 1.2rem;
}